*{
    margin: 0px;
    box-sizing: border-box;
}
.a{
    top: 0 !important;
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: whitesmoke;
    z-index: 10;
}
.b{
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 60px !important;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(237, 240, 242);
}
.c{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 50px;
}
.d{
    height: auto;
    width: 100%;
    background-color: rgb(237, 240, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}
.both{
    padding-top: 60px;
    padding-bottom: 100px;
    height: auto;
    width: 750px;
}
.c11{
    height: 100%;
    width: 50%;
    align-items: center;
}
#i{
    color:#aaa;
}
.popup{
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 10000;
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
}
.popup:target{
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0,0,0,0.5);   
}
.button1{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin:0px;
    text-transform: uppercase;
    font-weight: 700;
}
.inside{
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 400px;
    height: auto;
    z-index: 11;
    min-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.i2{
    width: 20px;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: center;
}
.div1{
    display: flex;
    border: 1px solid #ced4da;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.div2{
    margin: 0px;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
}
.f1{
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.input1{
    padding: 15px;
    height: 40px;
    width: 100%;
    font-size: 25px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
}
#ii1{
    fill: black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(242, 232, 232);
    font-size: 20px; 
    border: 1px solid #ced4da;
}
.f2{
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 80%;
    font-weight: 500;
    gap: 5px;
}
.f3{
    width: 90%;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.button2{
    background-color: #4dc7bc;
    border-color: #4dc7bc;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
}
.star i{
    color:gold;
    font-size: 15px;
}
.div3{
    background-color: whitesmoke;
    height: 60px;
    width: 100%;
    border: 1px solid #ced4da;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b1{
    margin-right: 30px ;
    font-size: 18px;
}
.z{
    padding-top: 25px;
    background-color: white;
    position: relative;
    min-height: 150px;
    height: 200px !important;
    width: 100%;
    background-color: black;
}
.z1{
    height: 50%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.z2{
    padding-top: 10px;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar{
    height: 100%;
    align-items: center;
    z-index: 999;
     height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.945);
    backdrop-filter: transparent(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.sidebar div{
    width: 100%;
}
.sidebar span{
    width: 100%;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav div{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.c11{
    height: 100%;
    width: 50%;
    align-items: center;
}
.c111{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 0px;
    padding: 0px;
}
.c12{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
}
.hideonmobile{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    
}
.menu-button{
    display: none;
    align-items: end;
    justify-content: end;
    color: black;
}
.menu{
    filter: brightness(40%);
    width: 40px; 
}
.space{
    position: relative !important;
    display: none; 
    padding-top: 60px !important;
}
.slash{
    margin-left: 10px;
    font-size:20px;
}
.p1{
    font-size: 18px;
    align-items: center;
    color: gray;
    margin-right: 10px;
}
.i1{
    width: 130px;
    margin: 0px;
    padding: 0px;
}
.p2{
    color:white;
}
.i4{
    background-color: white;
    border-radius: 50px;
    width: 20px;
    color: white;
}
.b2{
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
}
#i5{
    font-size: 100px;
    padding: 5px;
    width: 150% !important;
    height: 50% !important;
    border-radius: 100%;
    color: #aaa;
    margin-left: 0px;
}
.c3{
    width: 50%;
    margin-top: 20px;
    gap: 50px;
}
.c31{
    width: 100% !important;
    display: flex;
    gap: 50px;
}
.c32{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.c311{
    width: 65%;
    gap: 0px;
    display: flex;
    flex-direction: column;
}
#i5::before{
    width: 110px !important;
}
.d11{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 1.5em;
}
.di3{
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 750px;
    padding: 10px;
    display: flex;
    transition: box-shadow .3s ease-in-out;
}
.di3:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.i6{
    width: 200px;
}
.div4{
    padding-left: 15px;
    padding-top: 0px;
    width: 100%;
}
.view{
    margin-top: 0px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 500px;
}
.rate{
    font-size: 25px;
}
.button{
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    background-color: #4dc7bc;
    color: white;
    transition: background-color .3s ease-in-out;
}
.button:hover{
    background-color: #2ba99d;
}
@media(max-width:820px){
    .b1{
        font-size: 20px;
        margin-right: 20px;
    }
    .di3{
        width: 94%;
    }
    .div4{
        width: 75%;
    }
    .view{
        width: 100% !important;
    }
    .both{
        width: 94% !important;
        margin-left: 35px;
    }
}
@media(max-width:767px){
    .rate{
        font-size: 25px !important;
    }
    .c{
        padding-left: 20px;
    }
    .c3{
        width: 95%;
    }
    .c311{
        width: 95%;
    }
    .c31{
        display: flex;
        flex-direction: column;
        height: auto !important;
    }
    .image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .di3{
        display: flex;
        flex-direction: column;
    }
    .i6{
        width: 100%;
        max-width: 300px !important;
    }
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div4{
        margin-top: 15px;
        width: 100%;
    }
    .d11{
        font-size: 35px;
    }
}
@media(max-width : 700px){
    .hideonmobile{
        display:none;
    }
    .menu-button{
        display: flex;
        z-index: 1000;
        color: black;
        fill: black;
    }
    .sidebar{
        width: 50%;
    }
    .c111{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .z1{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media(max-width:650px){
   .a{
        height: 50px;
    }
    .i1{
        width: 110px;
    }
    .menu{
        width: 35px !important;
    }
    .b{
        margin-top: 50px !important;
    }
}
@media (max-width: 600px) {
  .z1{
    display: flex !important;
    flex-direction: column !important;
    z-index: 1;
    padding-top: 10px;
    gap: 2px;
    height: 100%;
    background-color: black;
  }
  .z2{
    padding-bottom: 25px;
    background-color: black !important;
  }
  .z{
    height: 200px !important;
  }
}
@media(max-width:576px){
    .a{
        height: 45px !important;
    }
    .i1{
        width: 100px;
    }
    .menu{
        width: 30px !important;
    }
    .b{
        margin-top: 45px !important;
    }
    .d11{
        font-size: 30px;
    }
}
@media(max-width:450px){
    .a{
        height: 45px;
    }
    .i1{
        width: 100px;
    }
    .menu{
        width: 30px !important;
    }
}
@media(max-width:440px){
   .rate{
    font-size: 20px !important;
   }
   .d11{
    font-size: 25px;
   }
}
@media(max-width :380px){
    .sidebar{
        width: 100%;
    }
    .a{
        height: 45px;
    }
    .i1{
        width: 100px;
    }
    .menu{
        width: 30px !important;
    }
    .button{
        width: 110px;
        height: 33px;
        margin-bottom: 5px;
    }
}
@media(max-width:360px){
     .inside{
        width: 100%;
    }
    .space{
        padding-top: 40px;
    }
    .a{
        height: 45px;
    }
    .i1{
        width: 100px;
    }
    .menu{
        width: 30px !important;
    }
}   
@media(max-width:300px){
    .rate{
        margin-top: 5px !important;
        font-size: 18px !important;
    }
} 

