
*{
    margin: 0px;
    box-sizing: border-box;
    z-index: 3;
    padding: 0px;
     font-family: 'Open Sans', sans-serif;
     text-size-adjust:100%;
}
body{
    width: 100%;
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Open Sans',sans-serif;
}
.a{
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgb(237, 235, 235);
    z-index: 10;
}
.b{
    position: relative;
    background-color: transparent;
    max-height: 500px;
    min-width: 300px !important;
    width: 100%;
    padding-top: 70px !important;
    aspect-ratio: 16/13;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    top: 0;
    min-height: 600px;
    height: auto;
    width: 100%;
    position: relative;
    background-color: white;
}
.z{
    padding-top: 25px;
    background-color: white;
    position: relative;
    min-height: 150px;
    height: auto;
    width: 100%;
    background-color: black;
}
.sidebar{
    padding-left: 10px;
    padding-top: 15px;
    height: 100%;
    align-items: center;
    z-index: 99;
     height: 100vh;
    width: 350px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    border-end-start-radius: 10px;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.sidebar span{
    width: auto;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 40%;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav div{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.c11{
    height: 100%;
    width: 50%;
    align-items: center;
}
.c111{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.c12{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
}
.hideonmobile{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.i1{
    width: 130px;
     margin: 0px;
}
.i2{
    border-radius: 10px;
    width: 20px;
    justify-content: flex-end;
    align-items: center;
}
.p1{
    opacity : 0.5; font-size: 20px;
}
.z1{
    height: 50px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.z2{
    padding-top: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p2{
    color:white;
}
.i4{
    z-index: 1;
    max-height: 500px;
    min-height: auto;
    min-width: 300px !important;
    width: 100%;
    aspect-ratio: 16/13;
    display: block;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    filter: brightness(50%);
}
.label{
    color: white;
    font-size: 50px;
    background-color: transparent;
}
.button{
    color: rgb(255, 255, 255);
    background: rgb(3 147 3);
    margin-left: 0%;
    margin-top: 10px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    border-radius: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: background .6s ease-in-out;
}
.button:hover{
    background: rgba(5, 205, 5, 0.986);
}
.button span { 
    position: relative;
    z-index: 2; 
}
.input{
    padding-left: 5px !important;
    height: 50px;
    width: 110%;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    transition: border .3s ease-in;
}
.c31{
    height: 25%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c32{
    padding-top: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.i5{
    padding: 20px;
    border-radius: 100px;
    border: solid 1px black;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
}
.i5:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
.i6{
    padding: 20px;
    border-radius: 100px;
    border: solid 1px black;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-button{
    display: none;
    align-items: end;
    justify-content: end;
    color: black;
}


@media(max-width:900px){
    .b{
        padding-top:70px !important;
    }
    .c32{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 0px;
    }
    .c{
        height: 400px;
    }
    .i5{
        width: 150px !important;
        border-radius: 100px;
    }
    .label{
        font-size: 45px;
    }
    .button{
        width: 180px;
        height: 45px;
    }
    .input{
        height: 45px;
        font-size: 28px;
    }
}
@media(max-width:767px){
    .c32{
        display: flex;
        flex-direction: column;
        height: 700px;
        gap: 30px;
    }
    .c{
        height: 950px;
    }
    .label{
        padding-top: 25px;
    }
    .c31{
    height: 200px;
    padding-top: 0px;
  }
}
@media(max-width : 700px){
    .hideonmobile{
        display:none;
    }
    .menu-button{
        display: flex;
        z-index: 1000;
        color: black;
        fill: black;
    }
    .sidebar{
        width: 50%;
    }
    .c111{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .z1{
        padding-left: 5%;
        padding-right: 5%;
    }
    .c32{
         gap: 30px !important;
    }
}
@media(max-width:650px){
    .c{
        height: 950px;
    }
    .label {
    font-size: 37px !important;
  }
  .button {
    width: 165px !important;
    height: 37px !important;
    font-size: 25px !important;
  }
  .input {
    height: 37px !important;
    font-size: 25px !important;
    width: 110% !important; 
  }
  .c32{
    height: 700px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px !important;
    padding: 0px;
  }
  .c31{
    height: 200px;
    padding-top: 0px;
  }
   .a{
        height: 70px !important;
    }
    .i1{
        width: 110px;
    }
}
@media (max-width: 600px) {
  .label {
    font-size: 35px ;
  }
  .button {
    width: 140px ;
    height: 35px ;
    font-size: 20px ;
  }
  .input {
    height: 35px ;
    font-size: 20px;
    width: 100% ; 
  }
  .z1{
    display: flex !important;
    flex-direction: column !important;
    z-index: 1;
    padding-top: 10px;
    gap: 2px;
    height: 100%;
    background-color: black;
  }
  .z2{
    margin-top:10px !important;
    padding-bottom: 25px;
  }
  .c32{
        height: 800px !important;
         gap: 50px !important;
         padding-top: 30px;
    }
    .c{
        height:1100px !important;
    }
}
@media(max-width:576px){
    .label {
        padding-top: 30px;
        font-size: 30px !important;
    }
   .button {
        width: 120px !important;
        height: 30px !important;
        font-size: 17px !important;
    }
    .input {
        height: 30px !important;
        font-size: 17px !important;
        width: 110% !important; 
    }
     .a{
        height: 70px;
    }
    .i1{
        width: 100px;
    }
    .c32{
        height: 750px !important;
         gap: 50px !important;
         padding-top: 30px;
    }
    .c{
        height:1100px !important;
    }
}
@media(max-width:480px){
    .sidebar{
        width: 100% !important;
    }
}
@media(max-width:450px){
    .label {
        padding-top: 0px;
        font-size: 25px !important;
    }
   .button {
        width: 105px !important;
        height: 25px !important;
        font-size: 14px !important;
    }
    .input {
        height: 25px !important;
        font-size: 14px !important;
        width: 110% !important; 
    }
    .b{
        padding-top: 60px !important;
    }
    .a{
        height: 60px !important;
    }
    .i1{
        width: 100px;
    }
    .i4{
        padding-top: 40px !important;
    }
    .c32{
        height: 750px !important;
         gap: 50px !important;
         padding-top: 30px;
    }
    .m1{
        font-size: 45px !important;
    }
    .i5{
        width: 110px;
    }
    .c{
        height:1100px !important;
    }
}
@media(max-width:440px){
    .inside{
        width: 95% !important;
    }
    .f1{
        height: 35px;
    }
    #ii1{
        height: 35px !important;
    }
    .input1{
        height: 35px !important;
        font-size: 20px !important;
    }
    .button2{
        height: 35px !important;
    }
    .f3{
        margin-left: 13px !important;
    }
}
@media(max-width:400px){
    .inside2{
        width: 90% !important;
    }
}
@media(max-width :380px){
    .sidebar{
        width: 100%;
    }
    .i4{
        padding-top: 15px ;
    }
    .b{
        padding-top: 0px ;
    }
  .label {
        padding-top: 50px;
        font-size: 22px !important;
    }
    .button {
        width: 105px !important;
        height: 33px !important;
        font-size: 18px !important;
    }
    .input {
        height: 25px !important;
        font-size: 17px !important;
        width: 120% !important; 
    }
  .a{
        height: 60px;
    }
    .i1{
        width: 100px;
    }
    .c32{
         gap: 50px !important;
         height: 750px !important;
         padding-bottom: 30px;
    }
    .c{
        height:1000px !important;
    }
    .f2{
        font-size: 18px !important;
    }
    
}
@media(max-width:360px){
     .inside{
        width: 95% !important;
    }
    .b{
        padding-top: 40px ;
    }
    .i4{
        padding-top: 15px;
    } 
    .c32{
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 50px !important;
        height: 750px !important;
        padding-bottom: 30px;
    }
    .label {
        padding-top: 0px;
        font-size: 20px !important;
    }
    .button {
        width: 95px !important;
        height: 30px !important;
        font-size: 17px !important;
    }
    .input {
        height: 25px !important;
        font-size: 18px !important;
        width: 120% !important; 
    }
  .c31{
    padding-top: 0px;
    height: 150px;
  }
    .c32{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        padding-top: 0px;
    }
    .c{
        height:900px !important;
    }
    .i5{
        width: 100px;
        border-radius: 100px;
    }
    .m1{
        padding-top: 20px;
        font-size: 35px !important;
    }
    .place{
    min-width: 130px !important;
    min-height: 130px !important;
    }
    .space{
        padding-top: 55px;
    }
    .a{
        height: 55px;
    }
    .i1{
        width: 100px;
    }
    
}      


nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.popup{
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 10000;
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
}
.popup:target{
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0,0,0,0.5);   
}
.button1{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin:0px;
    text-transform: uppercase;
    font-weight: 700;
}
.inside{
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 400px;
    height: auto;
    z-index: 11;
    min-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.inside2{
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 350px ;
    height: auto;
    z-index: 11;
    min-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ced4da;
    background-color: #ebeef1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:wheatsmoke;
}
.div2{
    margin: 0px;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
}
.f1{
    margin-left: 17px;
    margin-top: 20px;
    width: 95% !important;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.input1{
    padding: 5px;
    height: 40px;
    width: 100%;
    font-size: 25px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
}
#ii1{
    fill: black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(242, 232, 232);
    font-size: 20px; 
    border: 1px solid #ced4da;
}
.f2{
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 90% !important;
    font-weight: 500;
    gap: 5px;
}
.f3{
    width: 95% !important;
    text-align: center;
    margin-left: 18px;
    margin-top: 20px;
    font-size: 20px;
}
.button2{
    background-color: #4dc7bc;
    border-color: #4dc7bc;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color .3s ease-in-out;
    font-size: 18px;
}
.button2:hover{
    background-color:#25b4a8;
}
.div3{
    background-color: whitesmoke;
    height: 60px;
    width: 100%;
    border: 1px solid #ced4da;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.place{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 150px;
}
.m1{
    font-size: 50px;
}
.space{
    display: none; 
    padding-top: 70px;
    top: 0;
}
#menu{
    font-size: 35px;
    opacity: 0.75;
}
.glow{
    background-color: whitesmoke;
    padding: 6px 7px;
    height: auto;
    width: auto;
    border: 3px solid #039696;
    border-radius: 10px;
    box-shadow: 0 0 5px #039696;
    transition: background-color .3s ease-in-out;
}
.glow:hover{
    background-color: #039696;
}
.glow:hover span{
    color: white !important;
    font-weight: 700 !important;
    opacity: 1 !important;
}
#glow{
    background-color: whitesmoke;
    padding: 6px 7px;
    height: auto;
    width: auto;
    border: 3px solid #039696;
    border-radius: 10px;
    box-shadow: 0 0 5px #039696;
    transition: background-color .3s ease-in-out;
}
#glow:hover{
    background-color: #039696;
    opacity: 1 !important;
    color: white !important;
}
#glow:hover span{
    color: white !important;
    font-weight: 700 !important;
    opacity: 1 !important;
}
.input:focus{
    border: none !important;
    outline: none !important;
}
#i{
    font-weight: 600;
    color:#797c7e;
    text-decoration: none;
}
